<p style="color: green"><%= notice %></p>

<h1><%= t('.top') %></h1>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to t('.show'), book %>
    </p>
  <% end %>
</div>

<%= link_to t('.new'), new_book_path %>
