<h3><%= t('views.common.title_show', name: ReportMention.model_name.human) %></h3>

<% unless report.mentioning_reports.empty? %>
  <%= t('views.reports.mention.to_mention') %>
  <% report.mentioning_reports.each do |mention| %>
    <p>
      <%= link_to mention.title, report_url(mention) %>
    </p>
  <% end %>
<% else %>
  <p><%= t('views.reports.mention.no_mentioning') %></p>
<% end %>

<% unless report.mentioned_reports.empty? %>
  <%= t('views.reports.mention.from_mention') %>
  <% report.mentioned_reports.each do |mention| %>
    <p>
      <%= link_to mention.title, report_url(mention) %>
    </p>
  <% end %>
<% else %>
  <p><%= t('views.reports.mention.no_mentioned') %></p>
<% end %>
